<%- include('../port/layout-start', {title: title}) %>
<%- include('../port/menu') %>

<h1><%= title %></h1>

<div class="row">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Заголовок: <%= todo.title %></h5>
                <p class="card-text">Описание: <%= todo.description %></p>
                <p class="card-text">Авторы: <%= todo.authors %></p>
                <p class="card-text">Любимое: <%= todo.favorite %></p>
                <p class="card-text">Просмотров книги: <%= todo.views %></p>
                <img src="`./../public/img/<%= todo.fileBook %>" alt="">

                <div class="text-right">
                    <a class="btn btn-sm btn-primary" href="/api/books/update/<%= todo.id %>">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <form action="/api/books/delete/<%= todo.id %>" method="POST" class="d-inline">
                        <button class="btn btn-sm btn-danger">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<%- include('../port/layout-end') %>